<div class="container">
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
        <% if params[:user_id].nil? %>
        <span><%= link_to 'new collection', new_collection_path, class: 'col-4 pt-1 text-muted' %></span>
        <% else %>
        <span><%= link_to 'new collection', admin_new_user_collections_path, class: 'col-4 pt-1 text-muted' %></span>
        <% end %>
        </div>
        <div class="col-4 text-center">
        <h2><a class="blog-header-logo text-dark" href="/collections">Collections</a></h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
        </div>
    </div>
</header>
</div>
<div class="album py-5">
    <div class="container">
        <div class="row">
            <% @collections.each do |collection| %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag collection.feature_image if collection.feature_image.present? %>
                    <div class="card-body">
                        <p class="card-text"><%= collection.name %></p>
                        <p class="card-text"><%= collection.description %></p><br />
                            <div class="btn-group">
                                <% if params[:user_id].nil? %>
                                <%= link_to 'view', collection_items_path(collection), class: 'btn btn-success' %>
                                <%= link_to 'edit', edit_collection_path(collection), class: 'btn btn-success' %>
                                <%= link_to 'delete', collection_path(collection), method: :delete, data: {confirm: "Do you want to delete the collection?"}, class: 'btn btn-success' %>
                                <% else %>
                                <%= link_to 'view', user_collection_items_path(collection.user_id, collection), class: 'btn btn-success' %>
                                <%= link_to 'edit', admin_edit_user_collection_path(collection.user_id, collection), class: 'btn btn-success' %>
                                <%= link_to 'delete', user_collection_path(collection.user_id, collection), method: :delete, data: {confirm: "Do you want to delete the collection?"}, class: 'btn btn-success' %>
                                <% end %>
                            </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
  
