<div class="container">
    <h2>All tags</h2>
    <% tag_cloud(Tag.counts) do |tag| %>
        <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>
</div>
<div class="album py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-6 order-md-1">
        <h2><%= I18n.t('main_page.index.title2') %></h2>
        <div class="row" id="main">
            <% @collections.each do |collection| %>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <% if collection.feature_image.present? %>
                        <%= image_tag collection.feature_image, id: "image" %>
                    <% else %>
                        <div id="image"></div>
                    <% end %>
                    <div class="card-body">
                        <p class="card-text"><%= collection.name %></p>
                        <p class="card-text"><%= markdown(collection.description) %></p><br />
                            <div class="btn-group">
                                <%= link_to 'view', collection_items_path(collection), class: 'btn btn-success' %>
                            </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        </div>
        <div class="col-md-6 order-md-2 mb-4">
        <h2><%= I18n.t('main_page.index.title1') %></h2>
        <div class="row" id="mainitems">
            <% @items.each do |item| %>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <% if item.feature_image.present? %>
                        <%= image_tag item.feature_image, id: "image" %>
                    <% else %>
                        <div id="image"></div>
                    <% end %>
                    <div class="card-body">
                        <p class="card-text"><%= item.name %></p>
                        <p class="card-text"><%= markdown(item.description) %></p><br />
                        <% if user_signed_in? %>
                            <div class="btn">
                                <%= link_to like_collection_item_path(item.collection_id, item.id), method: :put do %>
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    <%= item.get_upvotes.size %>
                                <% end %>

                                <%= link_to unlike_collection_item_path(item.collection_id, item.id), method: :put do %>
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    <%= item.get_downvotes.size %>
                                <% end %>
                            </div>
                        <% else %>
                        <% end %>
                            <div class="btn-group">
                                <%= link_to 'view', collection_item_path(item.collection_id, item), class: 'btn btn-success' %>
                            </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        </div>
        </div>
    </div>
</div>