<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-bold">
          <% if user_signed_in? %>
            <span ><%= link_to I18n.t('layouts.application.signout'), destroy_user_session_path, class: 'button' %></span>
          <% else %>
            <span ><%= link_to I18n.t('layouts.application.signin'), new_user_session_path, class: 'button' %></span>
            or
            <span ><%= link_to I18n.t('layouts.application.registration'), new_user_registration_path, class: 'button' %></span>
          <% end %>
      </h5>
     
      <nav class="my-2 my-md-0 mr-md-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= I18n.t("views.collections.collections") %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if current_user && current_user.has_role?(:admin) %>
            <%= link_to link_to I18n.t('layouts.application.adminpanel'), online_users_path, class: 'dropdown-item'  %>
            <% else %>
            <% end %>
            <%= link_to link_to I18n.t('layouts.application.mainpage'), home_path, class: 'dropdown-item'  %>
            <%= link_to link_to I18n.t('layouts.application.profile'), collections_path, class: 'dropdown-item'  %>
            <div class='dropdown-item'>
              <%= link_to "Рус", { locale: :ru } %>
              <%= link_to "En", { locale: :en } %>
            </div>
          </div>
        </div>
      </nav>
      <%= form_tag search_index_path, method: 'get', class: "form-inline" do %>
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <% end %>
    </div>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
